<h1><%= @data[:data][:attributes][:name]%></h1><br>
<h4>Contact Info:</h4>
<p>Name: <%= @data[:data][:attributes][:contact_name] %></p>
<p>Phone: <%= @data[:data][:attributes][:contact_phone]%></p><br>
<p>Credit Accepted?:<%= @data[:data][:attributes][:credit_accepted] %></p><br>
<p>Description:<%= @data[:data][:attributes][:description] %></p>
